@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2); }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0); } }

@keyframes shadow-pulse-big {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0); } }

.example-1 {
  float: middle;
  margin: 40px;
  width: 130px;
  height: 130px;
  font: 13px/130px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  animation: shadow-pulse 1s infinite; }

.bacon-btn {

  margin: 95px 40px 0 40px;
  width: 130px;
  height: 60px;
  font: 13px/60px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  background: rgba(30, 144, 255, 0.8);
  border-radius: 3px;
  animation: shadow-pulse 1s 3; }

.example-3 {
  float: left;
  margin: 40px 0 0 40px;
  width: 130px;
  height: 130px;
  font: 13px/130px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  background: rgba(30, 144, 255, 0.6);
  border-radius: 50%;
  animation: shadow-pulse-big 1s 1; }
